<!-- From Uiverse.io by nathann09 -->

<form class="form ff-inter">
  <p class="form-title">Entre na sua conta</p>
  <div class="input-container">
    <input type="email" placeholder="Número da conta" />
    <span> </span>
  </div>
  <div class="input-container">
    <input type="password" placeholder="Senha" />
  </div>
  <div class="button-div">
    <button routerLink="/home" type="submit" class="submit">Acessar</button>
  </div>

  <p class="signup-link">
    Não possui conta?
    <a href="">Cadastre-se</a>
  </p>
</form>
