<div class="keyboard-container">
  <div class="keypad">
    <button class="key cursor number">1</button>
    <button class="key cursor number">2</button>
    <button class="key cursor number">3</button>
    <button class="key cursor number">4</button>
    <button class="key cursor number">5</button>
    <button class="key cursor number">6</button>
    <button class="key cursor number">7</button>
    <button class="key cursor number">8</button>
    <button class="key cursor number">9</button>
    <button class="key disabled" disabled="true"></button>
    <button class="key cursor number">0</button>
    <button class="key disabled" disabled="true"></button>
    <button class="key cursor action clear">APAGAR</button>
    <button class="key cursor action cancel">CANCELAR</button>
    <button class="key cursor action confirm">CONFIRMAR</button>
  </div>
</div>
